<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GlobalPlastic | Indústria e Comércio de Plásticos</title>
    <meta name="description"
        content="GlobalPlastic oferece soluções em tubos, conexões e acessórios plásticos para indústrias e construção civil. Qualidade e confiança em cada produto.">
    <meta name="keywords"
        content="indústria de plásticos, comércio de plásticos, tubos de PVC, conexões de PVC, produtos plásticos industriais, materiais plásticos para construção, acessórios plásticos">
    <link rel="canonical" href="https://www.globalplastic.com.br/">
    <link rel="icon" type="image/png" href="assets/img/logomarca3.png" <!-- CDN moments -->
    <script src="https://cdn.jsdelivr.net/npm/moment@2.30.1/moment.min.js"></script>

    <!-- CDN tailwindCSS -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <!-- CDN boxicons -->
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>

    <!-- CDN Google -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=roboto">

    <!-- styles -->
    <style>
        * {
            font-family: "Roboto", Arial, Helvetica, sans-serif;
        }

        .container {
            width: 1200px !important;
        }
    </style>
</head>

<body id="body" class="bg-gray-100">

    <!-- top header usando tailwind -->
    <header class="hidden md:block bg-stone-200 text-gray-500">

        <!-- menu top header -->
        <div class="md:container mx-auto py-2 flex justify-between items-center">
            <div class="text-sm">
                <span>
                    <a href="/sobrenos" class="text-gray-500 hover:text-gray-800">
                        Sobre nós
                    </a>
                </span>
                <span class="mx-2">•</span>
                <span>
                    <a href="/trabalheconosco" class="text-gray-500 hover:text-gray-800">
                        Trabalhe conosco
                    </a>
                </span>
                <span class="mx-2">•</span>
                <span>
                    <a href="/promocoes" class="text-gray-500 hover:text-gray-800">
                        Promoções
                    </a>
                </span>
            </div>
            <div class="text-sm">
                <span>
                    <a href="tel:+552433281000" class="text-gray-500 hover:text-gray-800">
                        Contato: +55 24 3328-1000
                    </a>
                </span>
            </div>
        </div>
    </header>

    <menu-component
        :class="isHidden == 0 ? 'hidden -translate-y-0' :(isHidden == 1 ? 'fixed top-0 w-full z-50 translate-y-0 opacity-100 duration-700' : 'duration-700 -translate-y-full opacity-0')"></menu-component>
    <header class="bg-white shadow-md transition-all duration-500">
        <div class="md:container mx-auto py-4 flex justify-between items-center">
            <div class="logo md:p-0 ps-3">
                <a href="/" class="text-2xl font-bold text-gray-800 hidden md:flex">
                    <img src="/assets/img/logomarca.png" alt="GlobalPlastic" class="h-10 inline">
                </a>
                <a href="/" class="text-2xl font-bold text-gray-800 flex md:hidden">
                    <img src="/assets/img/logomarca3.png" alt="GlobalPlastic" class="h-10 inline">
                </a>
            </div>

            <!-- search para buscar produtos no site -->
            <div class="search-bar flex-1 mx-4">
                <form action="/search" method="GET" class="relative">
                    <input type="text" name="q" placeholder="Buscar produtos..."
                        class="w-full border border-gray-300 rounded-full py-2 px-4 pl-10 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    <button type="submit" class="absolute left-0 top-1 mt-2 ml-3 text-gray-400 hover:text-gray-600">
                        <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                        </svg>
                    </button>
                </form>
            </div>

            <!-- menu com dropdown -->
            <!-- home, a empresa, produtos [construção civil, epi, supermercado, vasos, promoções e etc], contato, -->
            <nav class="relative">
                <div class="relative flex h-16 items-center justify-between">
                    <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                        <div class="hidden sm:ml-6 sm:block">
                            <ul class="flex space-x-4 text-gray-600">
                                <li>
                                    <a href="#">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Empresa
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="#">
                                        Produtos
                                    </a>
                                    <ul class="absolute top-8 p-3 bg-white rounded-lg w-[200px] shadow-lg border border-gray-100 gap-y-8">
                                        <li>construção civil</li>
                                        <li>construção civil</li>
                                        <li>construção civil</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        Contato
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="md:hidden flex p-3 mr-3">
                            <i class='bxr bx-menu text-2xl'></i>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main class="md:px-0 px-3">

        <!-- Section carousel e banner populares -->
        <section class="md:container mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-6 md:grid-flow-col md:grid-rows-5 gap-4 my-4">

                <!-- CAROUSEL PRINCIPAL -->
                <div class="relative md:row-span-5 md:col-span-4 rounded-lg md:h-[564px] overflow-hidden">

                    <!-- Slides -->
                    <div class="flex transition-transform duration-700 ease-in-out h-full"
                        :style="{ transform: `translateX(-${currentSlide * 100}%)` }">
                        <div v-for="(slide, index) in slides" :key="index"
                            class="w-full flex-shrink-0 h-[564px] rounded-lg"
                            :class="`bg-[url('${slide.bg}')] ${slide.class}`">
                            <div class="md:p-16 p-8 text-blue-800">
                                <div class="text-gray-100 my-4">{{ slide.subtitle }}</div>
                                <div class="md:text-6xl text-2xl font-bold md:my-4">
                                    {{ slide.title1 }}
                                </div>
                                <div class="md:text-6xl text-2xl font-bold md:my-4">
                                    {{ slide.title2 }}
                                </div>
                                <div class="md:w-1/2 py-4" v-html="slide.description"></div>
                                <div class="py-4 flex gap-4">
                                    <a href="#compre_mais"
                                        class="px-8 py-4 bg-blue-600 hover:bg-blue-700 text-blue-100 rounded-lg">
                                        compre agora
                                    </a>
                                    <a href="#compre_mais"
                                        class="px-8 py-4 text-blue-600 hover:bg-blue-100/30 rounded-lg">
                                        saiba mais
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Indicadores -->
                    <div class="absolute bottom-16 left-16 flex space-x-3">
                        <button v-for="(slide, index) in slides" :key="index" class="w-3 h-3 rounded-full"
                            :class="currentSlide === index ? 'bg-white opacity-100' : 'bg-white opacity-50'"
                            @click="goToSlide(index)"></button>
                    </div>
                </div>

                <!-- BLOCO 2 -->
                <div class="row-span-5 col-span-1 md:row-span-2 md:col-span-2
                    rounded-lg h-[200px] md:h-auto" :class="`bg-[url('${banner1.bg}')] ${banner1.class}`">
                    <div class="md:p-8 p-4 text-gray-600">
                        <div class="md:text-4xl text-2xl font-bold my-4" v-html="banner1.title"></div>
                        <div class="md:w-1/2" v-html="banner1.description"></div>
                        <div class="py-4 flex gap-4">
                            <a href="#compre_mais"
                                class="text-green-700 hover:text-green-500 rounded-lg flex items-center">
                                saiba mais <i class="bx bx-arrow-right-stroke text-xl"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- BLOCO 3 -->
                <div class="row-span-5 col-span-1 md:row-span-3 md:col-span-2 
                    rounded-lg h-[200px] md:h-auto" :class="`bg-[url('${banner2.bg}')] ${banner2.class}`">
                    <div class="md:p-8 p-4 text-gray-600">
                        <div class="md:text-4xl text-2xl font-bold my-4 md:w-2/3" v-html="banner2.title"></div>
                        <div class="md:w-1/2" v-html="banner2.description"></div>
                        <div class="py-4 flex gap-4">
                            <a href="#compre_mais"
                                class="text-fuchsia-700 hover:text-fuchsia-500 rounded-lg flex items-center">
                                saiba mais <i class="bx bx-arrow-right-stroke text-xl"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!-- Section marcas e categorias -->
        <section>
            <div class="md:container mx-auto my-8 md:flex item-center justify-start gap-2 hidden text-lime-600">
                <div class="w-1/4">
                    <h2 class="text-3xl font-bold flex items-center">
                        <i class='bx  bxs-certification mr-2'></i>
                        Destaques
                    </h2>
                    <small>Aqui você encontra a melhor opção para você:</small>
                </div>
                <div class="w-3/4 flex item-center justify-center gap-6 border border-gray-300 rounded-lg p-3 hidden">
                    <div v-for="brand in brands" class="w-auto">
                        <img :src="brand" class="h-10 transtion opacity-20 hover:opacity-50 cursor-pointer" />
                    </div>
                </div>
            </div>
        </section>

        <section class="relative w-full overflow-hidden my-6 mx-auto md:container">
            <!-- Área scrollable -->
            <div ref="slider"
                class="flex gap-6 overflow-hidden scroll-smooth no-scrollbar cursor-grab active:cursor-grabbing"
                @mousedown="startDrag" @mousemove="onDrag" @mouseup="endDrag" @mouseleave="endDrag"
                @touchstart="startDrag" @touchmove="onDrag" @touchend="endDrag">
                <div v-for="(plant, index) in plants" :key="index"
                    class="flex-shrink-0 flex flex-col items-center w-[120px] text-center select-none">
                    <img :src="plant.img" :alt="plant.name" class="w-24 h-24 rounded-full shadow-md p-3 bg-lime-600/50" />
                    <p class="mt-2 text-lime-800">{{ plant.name }}</p>
                </div>
            </div>
        </section>

        <!-- Section produtos destaques -->
        <section>
            <div class="md:container mx-auto mt-4">
                <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
                    <div v-for="destaque in destaques" :key="destaque.id"
                        class="gap-4 p-3 rounded-lg border border-gray-300 transition transform flex items-start justify-start relative">
                        <div class="h-full flex flex-col">
                            <img src="/assets/img/products/Registro-de-pressao-cromado-300x300.png"
                                class="h-16 block mx-auto">
                        </div>
                        <div class="mb-5">
                            <h2 class="text-xl font-semibold">Hidraulica</h2>
                            <ul class="text-sm">
                                <li><a href="/produtos/hidraulica/registro">Registro de pressão</a></li>
                                <li><a href="/produtos/hidraulica/registro">Registro de pressão</a></li>
                                <li><a href="/produtos/hidraulica/registro">Registro de pressão</a></li>
                                <li><a href="/produtos/hidraulica/registro">Registro de pressão</a></li>
                            </ul>
                        </div>
                        <div class="mt-auto">
                            <a href="#ver-produto"
                                class="absolute px-2 py-1 rounded-br-lg bg-gray-200 hover:bg-gray-300 block bottom-0 right-0">
                                ver tudo
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section banner destaque -->
        <section>
            <div class="md:container md:mx-auto grid grid-cols-1 md:grid-cols-8 gap-4 my-8">
                <div v-for="(banner, index) in banner3Destaque" :key="index"
                    class="bg-blue-300 rounded-lg md:col-span-2"
                    :class="[index == 0 ? 'md:col-span-2' : 'md:col-span-3', `bg-[url('${banner.bg}')]`, `${banner.bgClass}`]">
                    <div class="md:p-8 p-4 text-gray-600">
                        <div class="md:text-4xl text-2xl font-bold my-4" v-html="banner.title"></div>
                        <div class="md:w-1/2" v-html="banner.description"></div>
                        <div class="py-4 flex gap-4">
                            <a href="#compre_mais"
                                class="text-fuchsia-700 hover:text-fuchsia-500 rounded-lg flex items-center">
                                saiba mais <i class='bx  bx-arrow-right-stroke text-xl'></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section mais vendidos -->
        <section>
            <div
                class="md:container md:mx-auto flex items-center justify-between relative border-b border-gray-300 my-2 py-2 text-gray-600">
                <div>
                    <h2 class="text-3xl font-bold flex items-center">
                        <i class='bx  bx-trending-up mr-2'></i>
                        Mais vendidos
                    </h2>
                    <small>Produtos especiais neste mês.</small>
                </div>
                <div>
                    <ul class="hidden md:flex item-end justify-center gap-6">
                        <li>Todos</li>
                        <li>Mais vendidos</li>
                        <li>Mais vistos</li>
                    </ul>
                    <div class="md:hidden flex p-2 bg-gray-200/70 hover:bg-gray-200/90 rounded-lg">
                        <i class='bx bx-dots-vertical-rounded'></i>
                    </div>
                </div>
            </div>
            <div class="md:container mx-auto mt-4">
                <div class="grid grid-cols-1 md:grid-cols-5 gap-4">
                    <div v-for="destaque in destaques" :key="destaque.id"
                        class="gap-4 p-3 rounded-lg border border-gray-300 transition transform relative bg-white">
                        <img src="/assets/img/imgsp3.png" class="w-full block mx-auto">
                        <div>
                            <small class="text-xs text-gray-400">Apple</small>
                            <h2 class="font-bold text-gray-600">iMac 2022 com tela Retina 5K, 8 GB de RAM e 256 GB</h2>
                            <div class="flex items-center justify-between p-3 gap-3">
                                <div class="line-through text-gray-400">R$ 3225,6</div>
                                <div class="text-gray-600 text-2xl font-bold">R$ 2856,3</div>
                            </div>
                            <a href="/carrinho/add"
                                class="w-full p-3 border border-gray-500 transition transition-all text-gray-500 hover:border-gray-700 hover:bg-gray-700 hover:text-gray-100 block my-4 rounded-lg text-center">
                                Adicionar ao carrinho
                            </a>
                            <ul class="text-sm text-gray-600">
                                <li>Tela Retina 5K de 27 polegadas (diagonal)</li>
                                <li>Intel Core i5 de 6 núcleos de 3,1 GHz de 10ª geração</li>
                                <li>Placa de vídeo AMD Radeon Pro 5300</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section últimas ofertas -->
        <section class="my-8" v-if="displayOferta">
            <div
                class="md:container md:mx-auto md:flex md:items-center md:justify-between relative border-b border-gray-300 py-2 text-gray-600">
                <div>
                    <h2 class="text-3xl flex items-center font-bold">
                        <i class='bx  bxs-discount mr-2'></i>
                        Últimas ofertas
                    </h2>
                    <small>Produtos especiais neste mês.</small>
                </div>
                <div class="flex items-center justify-end text-gray-500 gap-4">
                    <div>
                        <div class="font-bold text-right">Corra!</div>
                        <div class="text-xs">As ofertas terminam em:</div>
                    </div>
                    <div class="text-xl gap-1 flex items-center" v-html="contadorOferta">
                    </div>
                    <div>
                        <a href="#ver tudo"
                            class="flex items-center p-2 text-gray-500 hover:text-gray-800 transition transition-all">
                            ver tudo <i class='bxr bx-arrow-right-stroke text-2xl'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="md:container mx-auto mt-4">
                <div class="grid grid-cols-1 md:grid-cols-5 gap-4">
                    <div v-for="destaque in destaques" :key="destaque.id"
                        class="gap-4 p-3 rounded-lg border border-gray-300 transition transform relative bg-white">
                        <img src="/assets/img/imgsp3.png" class="w-full block mx-auto">
                        <div>
                            <small class="text-xs text-gray-400">Apple</small>
                            <h2 class="font-bold text-gray-600">iMac 2022 com tela Retina 5K, 8 GB de RAM e 256 GB</h2>
                            <div class="flex items-center justify-between p-3 gap-3">
                                <div class="line-through text-gray-400">R$ 3225,6</div>
                                <div class="text-gray-600 text-2xl font-bold">R$ 2856,3</div>
                            </div>
                            <a href="/carrinho/add"
                                class="w-full p-3 border border-gray-500 transition transition-all text-gray-500 hover:border-gray-700 hover:bg-gray-700 hover:text-gray-100 block my-4 rounded-lg text-center">
                                Adicionar ao carrinho
                            </a>
                            <ul class="text-sm text-gray-600">
                                <li>Tela Retina 5K de 27 polegadas (diagonal)</li>
                                <li>Intel Core i5 de 6 núcleos de 3,1 GHz de 10ª geração</li>
                                <li>Placa de vídeo AMD Radeon Pro 5300</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section cchamada para ação inscrever-se -->
        <section>
            <div class="md:container mx-auto my-16 bg-gray-600 rounded-lg
                bg-[url('/assets/img/products/bg-newsletter1.png')] bg-no-repeat bg-cover bg-position-[bottom_right_400px] bg-size-[150px] 
               
                ">
                <div
                    class="bg-[url('/assets/img/products/bg-newsletter2.png')] before:content-[''] relative bg-no-repeat bg-cover bg-position-[bottom_left_10px] bg-size-[150px]  flex flex-col md:flex-row items-start md:items-center justify-between gap-4 p-8 border-gray-700  rounded-lg shadow-lg">

                    <!-- Texto -->
                    <div>
                        <h3 class="text-xl md:text-2xl font-bold text-gray-100">Assine e ganhe <span
                                class="text-amber-300">10%</span> de desconto</h3>
                        <p class="mt-1 text-gray-100">
                            Receba atualizações por e-mail sobre nossas últimas novidades e ofertas especiais.
                        </p>
                    </div>

                    <!-- Botões -->
                    <div class="flex flex-wrap gap-3">
                        <div
                            class="flex items-center rounded-xl bg-white  border border-gray-300  focus-within:border-amber-500 overflow-hidden">
                            <input type="text" name="email_informativo" placeholder="Seu e-mail"
                                class="block w-full py-3 px-4 text-base text-gray-900 placeholder:text-gray-400 bg-transparent focus:outline-none"
                                v-model="inputEndereco" @input="handleInput" autocomplete="off">
                            <button type="submit"
                                class="inline-flex items-center gap-2 px-6 py-3 bg-gray-600 text-white font-semibold shadow hover:shadow-md hover:bg-gray-700 transition-transform hover:scale-105">
                                Assinar <i class='bx  bx-news text-lg'></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section lista de produtos populares -->
        <section>
            <div class="md:container mx-auto my-16">
                <div
                    class="md:container md:mx-auto flex items-center justify-between relative border-b border-gray-300 py-2 text-gray-600 mb-2">
                    <div>
                        <h2 class="text-3xl flex items-center font-bold">
                            <i class='bx  bxs-star mr-2'></i>
                            Mais populares
                        </h2>
                        <small>Os produtos mais visitados nos últimos 30 dias.</small>
                    </div>
                    <div class="flex items-center justify-end text-gray-500 gap-4">
                        <div>
                            <a href="#ver tudo"
                                class="flex items-center p-2 text-gray-500 hover:text-gray-800 transition transition-all">
                                ver tudo <i class='bxr bx-arrow-right-stroke text-2xl'></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-5 gap-x-4">
                    <div v-for="item in produtos" class="col-span-1 text-xs lowercase">
                        <a :href="`/${item.codigo}`">
                            {{ item.nome }}
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <footer class="bg-gray-900 text-gray-300 py-10">
        <div class="md:container md:mx-auto mx-3">
            <div class="grid grid-cols-1 md:grid-cols-12 md:gap-8 gap-y-8">

                <!-- Sobre Nós -->
                <div class="col-span-12 md:col-span-5 space-y-4">
                    <a href="index.html" class="flex items-center text-2xl font-bold">
                        <span>Sobre-nós</span>
                    </a>
                    <p>
                        <strong>Globalplastic Indústria e Comércio</strong> – Especializada na fabricação de materiais
                        para construção
                        civil e utilidades. Produzimos sifões, torneiras, duchas e chuveiros, mecanismos de descarga,
                        boias para caixa d’água, tanques plásticos, armários de banheiro, além de equipamentos
                        de proteção individual (EPI).
                    </p>
                    <div class="flex space-x-4 mt-4 text-2xl">
                        <a href="http://www.twitter.com/wanlog" class="hover:text-blue-500">
                            <i class='bxl bx-twitter'></i>
                        </a>
                        <a href="http://www.facebook.com/wanlog" class="hover:text-blue-700">
                            <i class='bxl bx-facebook'></i>
                        </a>
                        <a href="http://www.instagram.com/wanlog" class="hover:text-pink-500">
                            <i class='bxl bx-instagram'></i>
                        </a>
                        <a href="http://www.linkedin.com/wanlog" class="hover:text-blue-600">
                            <i class='bxl bx-linkedin'></i>
                        </a>
                    </div>
                </div>

                <!-- Mais usados -->
                <div class="md:col-span-2 col-span-12">
                    <h4 class="text-lg font-semibold mb-2">Mais usados</h4>
                    <ul class="space-y-1">
                        <li><a href="/" class="hover:text-blue-500">Início</a></li>
                        <li><a href="sobre.html" class="hover:text-blue-500">Sobre</a></li>
                        <li><a href="servicos.html" class="hover:text-blue-500">Serviços</a></li>
                        <li><a href="contato.html" class="hover:text-blue-500">Contato</a></li>
                        <li><a href="politica-de-privacidade.html" class="hover:text-blue-500">Política de
                                privacidade</a></li>
                    </ul>
                </div>

                <!-- Outros -->
                <div class="md:col-span-2 col-span-12">
                    <h4 class="text-lg font-semibold mb-2">Outros</h4>
                    <ul class="space-y-1">
                        <li><a href="area-de-atuacao.html" class="hover:text-blue-500">Catálogo de imagens</a></li>
                        <li><a href="agendar-coleta.html" class="hover:text-blue-500">Banco de imagens</a></li>
                        <li><a href="fazer-cotacao.html" class="hover:text-blue-500">Downloads</a></li>
                    </ul>
                </div>

                <!-- Contato -->
                <div class="md:col-span-3 col-span-12 text-center md:text-left space-y-2">
                    <h4 class="text-lg font-semibold mb-2">Contate-nos</h4>
                    <p class="text-sm">
                        Rua João Afonso Borge, 720 <br>
                        Vila Independência, Barra Mansa<br>
                        Rio de Janeiro - Brasil <br><br>
                        <strong>Telefone:</strong> +55 24 3328-1000<br>
                        <strong>E-mail:</strong> atendimento@globalplastic.com.br<br>
                    </p>
                </div>

            </div>
        </div>

        <!-- Copyright -->
        <div class="md:container mx-auto px-4 mt-8 text-center space-y-2 text-sm text-gray-400">
            <!-- copyright wanlog -->
            <div>&copy; 2025 <strong>GlobalPlastic</strong>. Todos os direitos reservados.</div>

            <!-- agência criadora do site wanlog -->
            <div class="mx-auto">
                <div class="flex items-center justify-center space-x-4">

                    <!-- Logo -->
                    <div class="flex-shrink-0">
                        <a href="https://hydradigital.com.br" target="_blank" class="no-underline">
                            <img src="/assets/img/logo-hydra.20ca10f7.png" alt="Hydra Digital" class="h-16">
                        </a>
                    </div>

                    <!-- Texto -->
                    <div>
                        <a href="https://hydradigital.com.br" target="_blank"
                            class="no-underline text-gray-500 text-sm">
                            Desenvolvido por<br>
                            <strong>Hydra Digital</strong><br>
                            Daniel Ramos
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- CDN vue3 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>

    <!-- dados dos destaques -->
    <script src="/assets/js/dados_destaque.js"></script>

    <!-- dados do brands -->
    <script src="/assets/js/dados_brands.js"></script>

    <!-- dados da lista de produtos -->
    <script src="/assets/js/dados_lista_produtos.js"></script>

    <!-- dados do componente menu -->
    <script src="/assets/js/menu_componente.js"></script>

    <!-- Inicializado vue -->
    <script>
        Vue.createApp({
            components: {
                menuComponent: menuComponente
            },
            data() {
                return {

                    lastScroll: 0,
                    isHidden: 0,
                    destaques: destaques,
                    brands: brands,
                    dataTermino: moment(new Date()).add(1, "day"),
                    displayOferta: true,
                    contadorOferta: "",
                    produtos: lista_produtos,
                    currentSlide: 0,
                    slides: [
                        {
                            bg: "/assets/img/banners/esfera-diamante.png",
                            class: "md:bg-size-[350px] bg-size-[300px] bg-lime-600/70 hover:bg-lime-600/80 bg-no-repeat bg-cover bg-bottom-right",
                            subtitle: "O versátil",
                            title1: "Coleção Esfera",
                            title2: "Diamante",
                            description:
                                `O vaso <b>Esfera Diamante</b> une design moderno e praticidade, trazendo estilo e elegância para qualquer ambiente. Versátil e cheio de estilo para decorar sua casa ou escritório.`,
                        },
                        {
                            bg: "/assets/img/banners/tijolinho.png",
                            class: "md:bg-size-[350px] bg-size-[300px] bg-indigo-400/70 hover:bg-indigo-400/90 bg-no-repeat bg-cover bg-right-bottom",
                            subtitle: "O autêntico",
                            title1: "Coleção",
                            title2: "Tijolinho",
                            description:
                                `O vaso <b>Tijolinho</b> traz um charme rústico com toque moderno. Seu acabamento em relevo imita tijolos, oferecendo autenticidade e estilo para ambientes internos e externos.`,
                        },
                        {
                            bg: "/assets/img/banners/degrau.png",
                            class: "md:bg-size-[500px] bg-size-[300px] bg-stone-400/70 hover:bg-stone-400/80 bg-no-repeat bg-cover bg-bottom-right",
                            subtitle: "O sofisticado",
                            title1: "Coleção",
                            title2: "Degrau",
                            description:
                                `O vaso <b>Degrau</b> combina linhas marcantes em design exclusivo. Sofisticado e versátil, é perfeito para quem busca praticidade sem abrir mão da elegância.`,
                        },
                    ],
                    banner1: {
                        bg: "/assets/img/banners/ducha-fria-acqua-90-braco-curto.png",
                        class: "bg-green-200/70 hover:bg-green-200/50 transition bg-no-repeat bg-position-[bottom_10px_right_30px] bg-size-[200px]",
                        title: "Ducha Acqua",
                        description: `Banho refrescante.`
                    },
                    banner2: {
                        bg: "/assets/img/banners/protetor-auricular.png",
                        class: "bg-fuchsia-300/70 hover:bg-fuchsia-300/50 transition bg-no-repeat bg-position-[bottom_right_30px] md:bg-size-[200px] bg-size-[170px]",
                        title: "Protetor Auricular",
                        description: `Proteção confortável e eficiente para seus ouvidos.`
                    },
                    banner3Destaque: [
                        {
                            bg: "/assets/img/banners/torn-lav-mesa-fixa-siena-cromada.png",
                            bgClass: "bg-no-repeat bg-cover bg-bottom-right bg-size-[200px] bg-blue-300",
                            title: "Torneiras",
                            description: "Giratórias e fixas"
                        },
                        {
                            bg: "/assets/img/banners/organizador.png",
                            bgClass: "bg-no-repeat bg-cover bg-bottom-right bg-size-[200px] bg-green-300",
                            title: "Organizadores",
                            description: "Multiuso"
                        },
                        {
                            bg: "/assets/img/banners/bobina-fundo-estrela-crist.png",
                            bgClass: "bg-no-repeat bg-cover bg-bottom-right bg-size-[200px] bg-fuchsia-300",
                            title: "Bobinas",
                            description: "Para hortifruti"
                        },
                    ],

                    plants: [
                        { name: "Bojo Bege", img: "/assets/img/vasos/bojo-bege.png" },
                        { name: "Bojo Terracota", img: "/assets/img/vasos/bojo-terracota.png" },
                        { name: "Bonsai Terracota", img: "/assets/img/vasos/bonsai-terracota.png" },
                        { name: "Bromélia Marrom", img: "/assets/img/vasos/bromelia-marrom.png" },
                        { name: "Coluna Romana Terracota", img: "/assets/img/vasos/COLUNA-ROMANA-TERRACOTA.png" },
                        { name: "Esfera Diamante Terracota", img: "/assets/img/vasos/Esfera-diamante-terracota.png" },
                        { name: "Lunar Azul", img: "/assets/img/vasos/Lunar-azul.png" },
                        { name: "Moranga Terracota", img: "/assets/img/vasos/moranga-terracota.png" },
                        { name: "Trapézio Bege", img: "/assets/img/vasos/trapezio-bege.png" },
                        { name: "Urban M Bege Completo", img: "/assets/img/vasos/urban-M-bege-completo.png" },
                        { name: "Zafira Verde", img: "/assets/img/vasos/zafira-verde.png" },
                    ],
                    isDown: false,
                    startX: 0,
                    scrollLeft: 0,
                    slider: null
                }
            },
            methods: {
                startDrag(e) {
                    this.isDown = true;
                    this.slider.classList.add("active");

                    this.startX = (e.pageX || e.touches[0].pageX) - this.slider.offsetLeft;
                    this.scrollLeft = this.slider.scrollLeft;
                },
                onDrag(e) {
                    if (!this.isDown) return;
                    e.preventDefault();

                    const x = (e.pageX || e.touches[0].pageX) - this.slider.offsetLeft;
                    const walk = (x - this.startX) * 1.2; // sensibilidade
                    this.slider.scrollLeft = this.scrollLeft - walk;
                },
                endDrag() {
                    this.isDown = false;
                    this.slider.classList.remove("active");
                },
                goToSlide(index) {
                    this.currentSlide = index;
                },
                async carouselAutomatico(delay) {
                    let slide = 0;
                    let _this = this;
                    setInterval(() => {
                        _this.goToSlide(slide);
                        slide++;
                        if (slide >= _this.slides.length) {
                            slide = 0;
                        }
                    }, delay);
                },
                async tempoFimUltimaOferta() {
                    setInterval(() => {
                        let agora = moment(new Date());
                        let diff = this.dataTermino.diff(agora);

                        if (diff <= 0) {
                            displayOferta = false;
                            return;
                        }

                        let duracao = moment.duration(diff);
                        this.contadorOferta = `
                        <span class="p-2 text-gray-100 bg-red-600 rounded-lg">${String(duracao.days()).padStart(2, '0')}</span>
                        <span>:</span>
                        <span class="p-2 text-gray-100 bg-red-600 rounded-lg">${String(duracao.hours()).padStart(2, '0')}</span>
                        <span>:</span>
                        <span class="p-2 text-gray-100 bg-red-600 rounded-lg">${String(duracao.minutes()).padStart(2, '0')}</span>
                        <span>:</span>
                        <span class="p-2 text-gray-100 bg-red-600 rounded-lg">${String(duracao.seconds()).padStart(2, '0')}</span>
                        `
                    }, 1000);
                },
                async handleScroll() {
                    const currentScroll = window.pageYOffset || document.documentElement.scrollTop
                    if (currentScroll < 100) {
                        this.isHidden = 0;
                    }
                    if (currentScroll > 250) {
                        this.isHidden = 1;
                    } else if (currentScroll > 100 && currentScroll < 250) {
                        // rolando para cima
                        this.isHidden = 2
                    }
                    this.lastScroll = currentScroll
                }
            },
            async mounted() {
                // contagem para final da oferta
                this.tempoFimUltimaOferta();

                // quantidade de segundo (5 segundos, 5000)
                this.carouselAutomatico(5000);

                window.addEventListener('scroll', this.handleScroll);

                this.slider = this.$refs.slider;
            },
            async unmounted() {
                window.addEventListener('scroll', this.handleScroll);
            }
        }).mount('body');
    </script>
</body>

</html>